{% extends 'basic.html' %}
{% block content %}
<h1 style="text-align:center;">Your Chats</h1>
<ul class="list-group">
    {% if page_obj %}
    {% for i in page_obj %}
    <li class="list-group-item text-capitalize"><a href="chat/room1/{{i.name}}" class="text-decoration-none">
                {% for j,k in all_user_inroom.items %}
                {% if j == i %}
                    {% for l in k %}
                    {% if l.user != user %}
                    {{l.user}}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            <br>
        </a></li>

    {% endfor %}
    {% else %}
    <p class="text-capitalize text-center">you dont have any personal chats</p>
    {% endif %}
</ul>
<h1 style="text-align:center;">GROUPS</h1>
<ul class="list-group">
    {% if private_group %}
    {% for i in private_group %}
    <li class="list-group-item text-capitalize"><a href="chat/room1/{{i.name}}" class="text-decoration-none">
            {{i.name}}<br>
        </a></li>

    {% endfor %}
    {% else %}
    <p class="text-capitalize text-center">Your are not in any groups</p>
    {% endif %}
</ul>
<h1 style="text-align:center;">PUBlIC ROOMS</h1>
<ul class="list-group">
    {% if room_public %}
    {% for i in room_public|slice:"0:8" %}
    <li class="list-group-item text-capitalize"><a href="chat/room1/{{i.name}}" class="text-decoration-none">
            {{i.name}}<br>
        </a></li>

    {% endfor %}
    {% else %}
    <p class="text-capitalize text-center">no public rooms available</p>
    {% endif %}
</ul>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">


        {% if page_obj.has_previous %}

        <li class="page-item "><a class="page-link" href="?page=1">&laquo</a></li>
        <li class="page-item"><a class="page-link"
                href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}
            </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&laquo</a></li>
        </a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
            </a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}
            </a></li>
        <li class="page-item "><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">&raquo</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">
                &raquo</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endblock %}